.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 1006px;
  margin: 36px auto auto;

  .titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    width: 150px;
    height: 50px;
  }

  .trash:hover {
    cursor: pointer;
  }

  .emptyDeck {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      align-self: start;
      height: 41px;
    }

    .description {
      margin-top: 40px;
      color: var(--color-dark-100);
    }
  }
}

.textModal {
  width: 100%;
  white-space: pre-line;
}

.blockButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
