.pageDeck {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  max-width: 62.875rem;
  margin: 2.25rem auto auto;

  .title {
    display: flex;
    justify-content: space-between;

    .button {
      min-width: 10%;
    }
  }

  .deckName {
    display: flex;
    gap: 0.625rem;
    align-items: center;

    color: var(--color-light-100);
    text-decoration: none;
    word-break: break-word;

    .image {
      width: 7.375rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 0.125rem;
    }
  }
}

.blockButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iconsContainer {
  display: flex;
  gap: 0.625rem;
}

.icon:hover {
  cursor: pointer;
}
