.card {
  display: flex;
  flex-direction: column;

  max-width: 420px;
  margin: 0 auto;
  padding: 33px 36px 29px;

  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 9px;

    p {
      margin: 0 auto;
    }

    .button {
      width: inherit;
      margin-bottom: 10px;
    }
  }
}

.recovery {
  margin-left: auto;
  color: var(--color-light-100);
  text-align: right;
  text-decoration: none;
}

.question {
  color: var(--color-light-900);
  text-align: center;
}

.signUp1 {
  margin: 0 auto;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}
